.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: .3em;
    font-weight: 300;
    color: white;
}

.form_control textarea {
    padding: .7em;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #F2B8B5;
    background-color: #8f8b91;
}

.form_control textarea:hover {
    border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ffc643;
}

.form_control textarea:focus {
    border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ffc643;
}

.form_control textarea::placeholder {
    color: rgb(231, 229, 229);
}