.category_card {
    padding: 1em;
    margin: 1%;
    box-shadow: 0 1px 1px 0 rgba(219, 214, 214, 0.144), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: .8em;
    flex: 1;
    min-width: 40vw;
    background-color: #2E1D1D;
    color: rgba(255, 255, 255, 0.897);
    max-height: 21vh;
}

.card_direction {
    display: flex;
    justify-content: space-between;
}

.category_card h4 {
    color: #ffc643;
    border-radius: .2em;
    margin-bottom: .5em;
    font-size: 1.3em;
    font-weight: 500;
}

.category_card p span {
    font-weight: bold;
}

.category_card p {
    font-size: medium;
    margin-bottom: .8em;
}

.project_card_actions {
    margin-top: .5em;
    margin-bottom: 1.3em;
    display: flex;
    flex-direction: column;
    opacity: 0.2;
    transition: 1s;
    justify-content: space-between;
}

.project_card_actions a,
.project_card_actions button {
    text-decoration: none;
    border: none;
    color: #fdfdfd;
    background-color: #5e35b100;
    font-size: 1.2em;
    padding: 0 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.project_card_actions a:hover {
    color: #ffc643;
    opacity: 1;
    transition: ease-in-out .3s;
}

.project_card_actions button:hover {
    color: #de3f23;
    opacity: 1;
    transition: .3s;
}

.category_card:hover .project_card_actions {
    display: flex;
    opacity: 1;
    transition: all .4s ease-in-out;
}