.top_container {
    padding: 2em;
    align-items: top;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button_container {
    margin-top: 3em;
    align-items: center;
    margin-bottom: 5em;
}


.top_container h1 {
    font-size: 2em;
    margin-bottom: .5em;
    font-weight: 500;

}

.top_container h3 {
    font-size: 1.5em;
    font-weight: 500;

}

.background {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}

.top_container h1 span {
    color: #ffc643;
    padding: 0 .2em;
    background-color: #5e35b1;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-left: 12em;
    padding-right: 10em;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 12em;

}

.divider {
    display: flex;
    height: 100%;
}

.categories_banner {
    display: flex;
    color: #FFF;
    text-align: left;
    font-style: normal;
    line-height: normal;
    flex-direction: column;
}

.categories_banner h1 {
    font-size: 65px;
    font-weight: 400;
}