.category_details {
    width: 100%;
    padding: 2em;
    /* display: flex; */
    /* display: contents; */
}

.category_details a {
    text-decoration: none;
}

.category_name {
    margin-bottom: 10px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.category_name h1 {
    min-width: 200px;
}

.category_details h1,
.category_details h2,
.category_details p {
    margin-bottom: .5em;
}

.category_details h1 {
    /* width: fit-content; */
    color: #ffc643;
    padding: 0 .5em;
    font-weight: 500;
    background-color: #5e35b1;

}

.category_details span {
    font-weight: 600;
}

.details_container {
    border-bottom: 1px solid #cecece;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vinho_form_container {
    width: 100%;
    margin-bottom: 2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

.vinho_form_container h2 {
    font-weight: 400;
}

.btn {
    background-color: #ffffff00;
    color: #ffffff;
    padding: 1em 1em;
    border-style: solid;
    border-width: .5px;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
    font-size: medium;
    min-width: 130px;
    border-radius: 2em;
    border-color: white;
}

.cat_form {
    width: 100%;
}

.btn:hover {
    background-color: #572121;
    color: white;
    border-color: #572121;
    padding: 1em 1em;
    border-radius: 2em;
    text-decoration: none;
}

.vinho_info {
    width: 100%;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin-right: -5em; */
    margin-left: 8em;
    padding-right: 15em;
    margin-top: 5em;
}

.right {
    margin-top: 5em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 8em;

}

.divider {
    display: flex;
    height: 100%;
}

.spacing {
    margin-bottom: 2em;
}

.background {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}

.top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}