.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: top;
}

.min-height {
    min-height: 75vh;
}

.start {
    justify-content: space-between;
    padding-bottom: 2em;
    width: 100%;
}