.footer {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    vertical-align: bottom;
    height: 13vh;
    display: flex;
    justify-content: flex-end;
    position: relative;

}

.info {
    display: flex;
    padding: 1em;
    position: absolute;
    bottom: 0;
}

.social_list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list svg {
    font-size: 1.7em;
    cursor: pointer;
}

.social_list svg:hover {
    font-size: 1.7em;
    transition: 0.2s;
}

.social_list a {
    color: white;
}

.social_list li:hover {
    margin: 0 1em;
    color: #ffc643;
}

.copyright {
    font-weight: 300;
    font-size: small;
}

.copyright span {
    font-weight: 400;
    color: #ffc643;
    font-size: medium;
}