.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
    height: 12vh;
    min-height: 100px;
    max-height: 200px;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: rgb(116, 116, 116);
    text-decoration: none;
}

.item a:hover {
    color: purple;
    text-decoration: none;
    transition: 0.4s;
}

.img_container {
    width: 90px;
    height: 90px;
    text-align: center;
}

.img_container img {
    height: 100%;
}

.img_container img:hover {
    rotate: 20deg;
    transition: 0.4s;
}